<!DOCTYPE html>
<html>
  <HEAD>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <TITLE>Cribbage Scorer Web</TITLE>
    <style>
* {
  box-sizing: border-box;
}

body {
    margin:10px;
    width: 100%;
}

.header {
    height: 40px;
}

.mainBody {
    background-color: white;
    position: absolute;
    top: 10px;
    bottom: 10px;
    width:95%;
    margin-left:10px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
}
.go {
  width:95%;
}
    </style>
  </HEAD>
<body>
<DIV class="mainBody">
<h2>Cribbage Scorer</h2>

<H3>Cards:</H3>
<FORM>
  <TABLE>
    <TR><TD>Starter:</TD><TD><input id="starter" type="text" length="2" size="2" tabindex="1" /> E.g.: 5H</TD></TR>
    <TR><TD>Card 1: </TD><TD><input id="hand1" type="text" length="2" size="2" tabindex="2" /> E.g.: 5D</TD></TR>
    <TR><TD>Card 2: </TD><TD><input id="hand2" type="text" length="2" size="2" tabindex="3" /> E.g.: 5C</TD></TR>
    <TR><TD>Card 3: </TD><TD><input id="hand3" type="text" length="2" size="2" tabindex="4" /> E.g.: 5S</TD></TR>
    <TR><TD>Card 4: </TD><TD><input id="hand4" type="text" length="2" size="2" tabindex="5" /> E.g.: JH</TD></TR>
  </TABLE>
  
  <BR/>
  (E.g.: AH = Ace of ♥, JH = Jack of ♥, QC = Queen of ♠, KD = King of ♦)
  <BR/><BR/>
  Crib? 
  <input id="crib" type="checkbox" value=false tabindex=6 /><BR/>
  
  <BR/>
  <button type="button" onclick="showScoreCalc()" tabindex=7 class="go">Show Score</button><BR/>
</FORM>


<h3>Score:</h3><div id="score_result"><BR/></div>
<h3>Explanation:</h3><div id="score_explanation"><BR/><BR/><BR/><BR/><BR/></div>
</DIV>

</body>
<script>

  function displayResults(resultsJSON) {
    console.log("Outputting")
    let explain = "";
    let msgArray =  resultsJSON["message"].split("|");
    for (index=0; index<msgArray.length; index++) {
      explain = explain + msgArray[index] + "<BR/>"
    }
  
    document.getElementById("score_explanation").innerHTML = explain;
    document.getElementById("score_result").innerHTML = resultsJSON["score"];
  
  }
  function trandlateRank(rank) {
    if (rank === 'A')
      return '1';
    
    if (rank === 'J')
      return '11';
  
    if (rank === 'Q')
      return '12';
    
    if (rank === 'K')
      return '13';  
    
    return rank;
  }
  
  function showScoreCalc() {
  
    let starterRaw = document.getElementById("starter").value.toUpperCase();
    let crib = document.getElementById("crib").checked;
  
    if (starterRaw.length !=2) {
      if ((starterRaw.indexOf("10") === 0) && (starterRaw.length === 3)) {
          // Chill
        } else {
          alert("Enter starter in the form:\nAH or 5D");
          return false;
        }
    }
    let starter = [parseInt(trandlateRank( starterRaw[0])), `${starterRaw[1]}`]
  
    let handIDs = ["hand1", "hand2", "hand3", "hand4"]
    let hand = [];
  
    for (index=0; index < handIDs.length; index++) {
      let handCard = document.getElementById(handIDs[index]).value.toUpperCase();
      console.log(handCard);
      if (handCard.length !=2) {
        if ((handCard.indexOf("10") === 0) && (handCard.length === 3)) {
          // Chill
        } else {
          alert("Enter hand in the form:\nAH or KD");
        return false;
        }

      }
      hand.push([parseInt(trandlateRank( handCard[0])), `${handCard[1]}`]);
    }
  
    let requestBody = {"starter": starter, "hand": hand, "crib": crib}
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        displayResults(JSON.parse(this.responseText));
      } else {
        console.log(this.responseText);
      }
    };
    xhttp.open("POST", "/score/show", true);
    xhttp.setRequestHeader("Content-Type", "application/json");
  
    let bodyText = JSON.stringify(requestBody);
    console.log(bodyText);
    xhttp.send(bodyText);
  }
  </script>
</html>