<!DOCTYPE html>
<html>
<head>
    <title>Privacy Statement</title>
</head>
<body>
    <h1>Privacy Statement</h1>
    <p>Effective as of 20 NOV 2023</p>

    <h2>Introduction</h2>
    <p>I am committed to protecting your privacy. This Privacy Statement explains how we handle and protect your personal data in accordance with the European Union's General Data Protection Regulation (GDPR) and the UK Data Protection Act 2018.</p>

    <h2>Data Collection and Use</h2>
    <p>We do not collect or record any personal data through our services & website. Our commitment is to provide you with information without compromising your privacy.</p>

    <h2>No Data Recording Policy</h2>
    <p>We adhere to a strict no data recording policy. This means that when you use our services, we do not record, store, or process any personal data that can be used to identify you, either directly or indirectly.</p>

    <h2>Your Rights</h2>
    <p>Under the GDPR and the UK Data Protection Act, you have various rights regarding your personal data, including the right to access, correct, delete, and restrict processing of your data. Since we do not collect or process personal data, these rights are not applicable in the context of our services.</p>

    <h2>Changes to This Privacy Statement</h2>
    <p>We may update this Privacy Statement from time to time. The most current version will always be posted on our website. We encourage you to review it regularly.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or concerns about our privacy practices, please contact us at https://github.com/phoughton/cribbage_server/issues</p>
</body>
</html>